/* men-header.css */
.men-header {
  text-align: center;
  margin: 0 0 24px;
  padding: 0;
}

.men-header .men-logo {
  font-family: 'Segoe UI', Arial, B;
  font-size: 64px;          /* tamaño medio */
  font-weight: 900;          /* negrita */
  color: #155DFC;            /* azul oscuro */
  letter-spacing: 2px;
  margin: 0;
  line-height: 1.1;
  
}
.men-header .men-des {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;               /* texto negro */
  margin: 4px 0 0;
  letter-spacing: 0.3px;
}
.men-header .men-subtitle {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000;               /* texto negro */
  margin: 4px 0 0;
  letter-spacing: 0.3px;
}